/* _content/ClassEasy/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-sryo7fzfn9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-sryo7fzfn9] {
  color: #0077cc;
}

.btn-primary[b-sryo7fzfn9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-sryo7fzfn9], .nav-pills .show > .nav-link[b-sryo7fzfn9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-sryo7fzfn9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-sryo7fzfn9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-sryo7fzfn9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-sryo7fzfn9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-sryo7fzfn9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.sidebar[b-sryo7fzfn9] {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
}

.menu[b-sryo7fzfn9] {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .menu li[b-sryo7fzfn9] {
        margin-bottom: 10px;
    }

        .menu li a[b-sryo7fzfn9] {
            text-decoration: none;
            color: #333;
        }
